.games-main {
	width: 90vw;
	max-width: 500px;
	text-align: left;
}

.game-letters {
	border: 2px solid;
	font-size: 2em;
	text-decoration: none;
	color: black;
	.centre {
		background: var(--centre-color);
		color: black;
	}
	&:hover {
		text-decoration: underline;
		color: blue;
	}
}

.game-card {
	padding-bottom: 4em;
	border-bottom: 1px solid;
	margin-bottom: 4em;
	&.over {
		opacity: 0.5;
	}
}

.games-title {
	margin-bottom: 2em;
}

.fun-button {
	--line: var(--blue-crayola);
	padding: 4px 8px;
	border: 1px solid var(--line);
	border-radius: 18px;
	background: white;
	color: var(--line);
	&.danger {
		&:hover {
			--line: var(--red);
		}
	}
}
