@import url("./preflight.css");
@import url("./palette.css");
@import url("./font-face.css");

body {
	font-family: "Jost*", Jost, sans-serif;
}

code {
	font-family: Iosevka, Monaco, Consolas, "Courier New", monospace;
}

body {
	font-size: 18px;

	--remote-color: var(--carribean-current);
	--local-color: var(--blue-crayola);
	--centre-color: var(--sunglow);
	--letter-box-size: 80px;
	--letter-size: 40px;
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	text-align: center;
}

* {
	/* disable bouncing */
	overscroll-behavior: none;
	scrollbar-color: var(--scrollbar-bg) var(--scrollbar-fg);
	/* disable tappy zoom */
	touch-action: none !important;
	user-select: none;
	-webkit-user-select: none;
}

a {
	color: var(--blue-crayola);
}
